.chat_main
  .chat_main__group_header
    .chat_main__group_info
      .chat_main__group_hname
        test
      .chat_main__group_member
        Member : 
    .chat_main__group_edit
      = link_to "#" ,class:"edit-btn" do
        Edit
  .chat_main__messages_list
    ＜メッセージリスト＞
  .chat_main__message_form
    ＜メッセージフォーム＞
