.side_bar
  .side_bar__user
    .side_bar__user_box
      .side_bar__user_name
        namae
      .side_bar__user-icons
        = link_to "#" ,class:"left-icon" do
          <i class='far fa-edit'></i>
        = link_to "#" ,class:"right-icon" do
          <i class='fa fa-cog'></i>
  .side_bar__group_list
    .side_bar__group_index
      = link_to "#" ,class:"group_sname" do
        グループ名
      = link_to "#" ,class:"group_message" do
        グループメッセージ